{% extends 'main.html' %}

{% block title %}
    <title>introduce</title>
{% endblock %}

{% block content %}
    <style>
        body {
            background-color: goldenrod;
            color: aliceblue;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>study</h1>
    <a href="/main/">main</a>
    <a href="/study/">study</a>
    <hr>
    <h3>1학기 멋사 활동 회고</h3>
    <p>한 것도 없는데 벌써 절반이나 지나버렸다니 전혀 믿기지 않습니다. 연말에 후회하지 않도록 남은 시간 동안 동아리 활동과 학점 관리에 최선을 다하겠습니다. 반성 또 반성...</p>
</body>
</html>
{% endblock %}



